extends ../layouts/common.pug

block content
  h1 User list

  form(action='/users/search', method='GET', class="form-inline")
    input(type='text', name='q', value=contentSearch, class="form-control")
    button(class="btn btn-primary ml-2") Search

  ul
    each user in users
      li
        span= user.name
        span &nbsp
        a(href='/users/' + user.id) View 

  a(href='/users/create') New